base/Portal/conf/dbmi/gost/letter_scheme.xsd

<!--

      Licensed to the Apache Software Foundation (ASF) under one or more
      contributor license agreements.  See the NOTICE file distributed with
      this work for additional information regarding copyright ownership.
      The ASF licenses this file to you under the Apache License, Version 2.0
      (the "License"); you may not use this file except in compliance with
      the License.  You may obtain a copy of the License at

          http://www.apache.org/licenses/LICENSE-2.0

      Unless required by applicable law or agreed to in writing, software
      distributed under the License is distributed on an "AS IS" BASIS,
      WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
      See the License for the specific language governing permissions and
      limitations under the License.

-->
﻿<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.aplana.com/Distribution/Letter" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.aplana.com/Distribution/Letter">
  <xs:element name="Letter">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="globalUniqueIdentifier" name="Id"/>
        <xs:element type="globalUniqueIdentifier" name="MessageId"/>
        <xs:element name="Sender">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="xs:string">
                <xs:attribute type="globalUniqueIdentifier" name="guid" use="required"/>
                <xs:attribute type="xs:string" name="name"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="Addressee">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="xs:string">
                <xs:attribute type="globalUniqueIdentifier" name="guid" use="required"/>
                <xs:attribute type="xs:string" name="name"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element type="xs:dateTime" name="Date"/>
        <xs:element name="Attachments">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Attachment" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:string" name="name" use="required"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element type="xs:string" name="Description" minOccurs="0"/>
      </xs:sequence>
      <xs:attribute type="letterType" name="type" use="required"/>
      <xs:attribute type="formatType" name="Format" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:simpleType name="globalUniqueIdentifier">
    <xs:restriction base="xs:normalizedString">
      <xs:pattern value="[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="letterType">
    <xs:restriction base="xs:token">
      <xs:enumeration value="For send"/>
      <xs:enumeration value="Sent"/>
      <xs:enumeration value="Not sent"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="formatType">
    <xs:restriction base="xs:token">
      <xs:enumeration value="IEDMS"/>
      <xs:enumeration value="GOST"/>
      <xs:enumeration value="Delo"/>
      <xs:enumeration value="Replication"/>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>