base/GostStatisticService/DocsStatisticServiceImplService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--

      Licensed to the Apache Software Foundation (ASF) under one or more
      contributor license agreements.  See the NOTICE file distributed with
      this work for additional information regarding copyright ownership.
      The ASF licenses this file to you under the Apache License, Version 2.0
      (the "License"); you may not use this file except in compliance with
      the License.  You may obtain a copy of the License at

          http://www.apache.org/licenses/LICENSE-2.0

      Unless required by applicable law or agreed to in writing, software
      distributed under the License is distributed on an "AS IS" BASIS,
      WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
      See the License for the specific language governing permissions and
      limitations under the License.

-->
<definitions name='DocsStatisticServiceImplService' targetNamespace='http://impl.ws.dbmi.aplana.com/' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:ns1='http://aplana.com/dbmi/ws/DocsStatisticService' xmlns:soap='http://schemas.xmlsoap.org/wsdl/soap/' xmlns:tns='http://impl.ws.dbmi.aplana.com/' xmlns:xsd='http://www.w3.org/2001/XMLSchema'>
<!--  <import location='DocsStatisticService_PortType.wsdl' namespace='http://aplana.com/dbmi/ws/DocsStatisticService'/> -->
 <types>
  <xs:schema targetNamespace='http://aplana.com/dbmi/ws/DocsStatisticService' version='1.0' xmlns:tns='http://aplana.com/dbmi/ws/DocsStatisticService' xmlns:xs='http://www.w3.org/2001/XMLSchema'>
   <xs:element name='getDocumentsStatistic' type='tns:getDocumentsStatistic'/>
   <xs:element name='getDocumentsStatisticResponse' type='tns:getDocumentsStatisticResponse'/>
   <xs:complexType name='getDocumentsStatistic'>
    <xs:sequence>
     <xs:element minOccurs='0' name='arg0' type='xs:dateTime'/>
     <xs:element minOccurs='0' name='arg1' type='xs:int'/>
     <xs:element minOccurs='0' name='arg2' type='xs:int'/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name='getDocumentsStatisticResponse'>
    <xs:sequence>
     <xs:element minOccurs='0' name='docsStatisticResponse' type='tns:docsStatisticResponse'/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name='docsStatisticResponse'>
    <xs:sequence>
     <xs:element maxOccurs='unbounded' minOccurs='0' name='orgStatistics' nillable='true' type='tns:organizationStatistic'/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name='organizationStatistic'>
    <xs:sequence>
     <xs:element minOccurs='0' name='orgName' type='xs:string'/>
     <xs:element maxOccurs='unbounded' minOccurs='0' name='templateStatistics' nillable='true' type='tns:templateStatistic'/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name='templateStatistic'>
    <xs:sequence>
     <xs:element name='count' type='xs:int'/>
     <xs:element minOccurs='0' name='template' type='xs:string'/>
    </xs:sequence>
   </xs:complexType>
  </xs:schema>
 </types>
 <message name='DocsStatisticService_getDocumentsStatistic'>
  <part element='ns1:getDocumentsStatistic' name='getDocumentsStatistic'/>
 </message>
 <message name='DocsStatisticService_getDocumentsStatisticResponse'>
  <part element='ns1:getDocumentsStatisticResponse' name='getDocumentsStatisticResponse'/>
 </message>
 <portType name='DocsStatisticService'>
  <operation name='getDocumentsStatistic' parameterOrder='getDocumentsStatistic'>
   <input message='tns:DocsStatisticService_getDocumentsStatistic'/>
   <output message='tns:DocsStatisticService_getDocumentsStatisticResponse'/>
  </operation>
 </portType>
 <binding name='DocsStatisticServiceBinding' type='tns:DocsStatisticService'>
  <soap:binding style='document' transport='http://schemas.xmlsoap.org/soap/http'/>
  <operation name='getDocumentsStatistic'>
   <soap:operation soapAction=''/>
   <input>
    <soap:body use='literal'/>
   </input>
   <output>
    <soap:body use='literal'/>
   </output>
  </operation>
 </binding>
 <service name='DocsStatisticServiceImplService'>
  <port binding='tns:DocsStatisticServiceBinding' name='DocsStatisticServiceImplPort'>
   <soap:address location='http://127.0.0.1:8080/GostStatisticService/docsStatistic'/>
  </port>
 </service>
</definitions>